MONGODB_URI=mongodb+srv://admin:govindharshit@webproject.k4qrown.mongodb.net/?appName=WebProject
MONGODB_DB=WebProject
AUTH_SECRET=e984d712f2171b58e7f863620d74972c50bfa5073d6f798c0cd2e4b25ca0e0f9
NODE_ENV=development
